{cover_enabled,true}.
{cover_export_enabled,true}.
{cover_print_enabled,true}.

{deps,[
    {lager, "", {git,"git://github.com/spilgames/lager.git",{tag,"2.0.3"}}},
    {meck, "", {git, "git://github.com/spilgames/meck.git", {tag,"0.7.2-0"}}}
]}.

{erl_opts, [debug_info, no_opaque, {parse_transform, lager_transform}]}.
{edoc_opts,[{dir,"DOC"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.
{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
{xref_checks, [
    undefined_function_calls,
    %undefined_functions,
    locals_not_used,
    %exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

